name: Translate README

on:

  push:

    branches:

      - main

      - master

jobs:
  
  build:
    name: "Translate to ${{ matrix.lang }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lang: ["zh-CN", "zh-TW", "ja", "fr", "es", "ar", "hi", "ko"]
    outputs:
      final: "https://github.com/${{github.repository}}/blob/main/README.${{matrix.lang}}.md"
    steps:

      - uses: actions/checkout@v2

      - name: Setup Node.js

        uses: actions/setup-node@v1

        with:

          node-version: 16.x
      - shell: pwsh

        run: |

          $r = Get-Random -Max 200 -Min 30
          echo "seconds: $r"
          Start-Sleep $r
      # ISO Langusge Codes: https://cloud.google.com/translate/docs/languages  
      - run: git pull https://github.com/${{github.repository}}.git --rebase
      - name: Adding README - ${{ matrix.lang }}

        uses: dephraiim/translate-readme@main

        with:

          LANG: ${{ matrix.lang }}

      
